altgraph==0.17
amqp==1.4.9
ansimarkup==1.4.0
anyjson==0.3.3
appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
Babel==2.8.0
billiard==3.3.0.23
celery==3.1.26.post2
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.3
dataclasses==0.7
distlib==0.3.1
Django==3.1
django-celery==3.3.1
django-codemirror2==0.2
django-cors-headers==3.5.0
django-crispy-forms==1.9.2
django-cte==1.1.4
django-filter==2.4.0
django-js-asset==1.2.2
django-model-utils==4.0.0
django-mptt==0.9.1
django-otp==1.0.2
django-postgres-extra==2.0.2
django-postgresql==0.0.3
django-river==3.2.2
django.js==0.8.1
djangorestframework==3.12.1
drf-renderer-xlsx==0.3.8
enforce==0.3.4
et-xmlfile==1.0.1
filelock==3.0.12
Flask==1.1.2
future==0.18.2
idna==2.10
importlib-metadata==2.0.0
importlib-resources==3.3.0
isort==5.4.2
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
kombu==3.0.37
lazy-object-proxy==1.4.3
Markdown==3.3.3
MarkupSafe==1.1.1
mccabe==0.6.1
mock==4.0.2
mysql-connector==2.2.9
mysql-connector-python==8.0.21
numpy==1.19.1
openpyxl==3.0.5
pandas==1.1.0
pefile==2019.4.18
pika==1.1.0
Pillow==7.2.0
protobuf==3.13.0
psycopg2==2.8.6
pycparser==2.20
pycryptodome==3.9.9
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.7
pylint==2.6.0
pymongo==3.11.0
python-dateutil==2.8.0
pytz==2020.1
pywin32-ctypes==0.2.0
rabbitmq==0.2.0
requests==2.25.0
river-admin==0.6.0
six==1.15.0
sqlparse==0.3.1
structlog==20.1.0
tkcalendar==1.6.1
toml==0.10.1
typed-ast==1.4.1
urllib3==1.26.2
virtualenv==20.1.0
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
